<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.css">
</head>
<body>
	<h1>Vue introduction</h1>
	<div id="app" class="field">
		<div class="control">
			<input class="input is-primary" type="text" v-model="firstname" placeholder="First Name">
			<input class="input is-primary" type="text" v-model="lastname" placeholder="Last Name">
			<p> Nafnið þitt er:
				<span v-text="firstname"></span>
				<span v-text="lastname"></span>
			</p>
		</div>
	</div>
	<script src="https://unpkg.com/vue"></script>
	<script type="text/javascript">
		var app = new Vue({
			el: '#app',
			data: {
				firstname: '',
				lastname: ''
			}
		});
	</script>
</body>
</html>